fastapi==0.115.12
uvicorn==0.34.0
python-multipart==0.0.20
scikit-learn==1.6.1
numpy==2.2.4
pandas==2.2.3
scipy==1.15.2
python-dotenv==1.0.0
pydantic==2.10.6
requests==2.32.3
joblib==1.4.2
prometheus-client==0.21.1
asyncpg==0.30.0
sqlalchemy==2.0.38
